files:
  "/etc/nginx/conf.d/redmine.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
       server {
           listen       8000;
           listen       0.0.0.0:8080;
           server_name  redmine.aws.teladoc.com;

           location / {
                root   /var/www/redmine/public;
                index  index.html index.htm;
            }
        }
    
container_commands:
  01_reload_apache:
    command: "sudo service nginx reload"
