files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

  "/etc/nginx/conf.d/02_app_server.conf":
    mode: "000644"
    owner: root
    group: root
content: |

#created from .ebextensions/redmine.config file##

<VirtualHost *:80>
        ServerName redmine.aws.teladoc.com
        #Alias /redmine /var/www/redmine/public/
        ServerAdmin your_domain@domain.com
        DocumentRoot /var/www/redmine/public/
        ErrorLog logs/redmine_error_log
        <Directory "/var/www/redmine/public/">
                Options Indexes ExecCGI FollowSymLinks
                AllowOverride None
                Require all granted
        </Directory>
</VirtualHost>




container_commands:
  01_reload_apache:
command: "sudo service httpd reload"
