files:
  "/etc/httpd/conf.d/redmine.conf.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
    #created from .ebextensions/redmine.config file##
    <VirtualHost *:80>
            ServerName redmine.aws.teladoc.com
           #Alias /redmine /var/www/redmine/public/
            ServerAdmin your_domain@domain.com
            DocumentRoot /var/www/redmine/public/
            ErrorLog logs/redmine_error_log
            <Directory "/var/www/redmine/public/">
                    Options Indexes ExecCGI FollowSymLinks
                    AllowOverride None
                    Require all granted
           </Directory>
    </VirtualHost>
    
container_commands:
  01_reload_apache:
    command: "sudo service httpd reload"
